.full-height {
    height: 100vh;
}

.flex-center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.position-ref {
    position: relative;
}

.title {
    font-size: 80%;
    text-align: center;
    margin-bottom: 5%;
}