.search-result {
    margin-bottom: 50px;
}

.search-result:hover {
    background-color: rgb(236, 232, 232);
}

button.more-info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button.more-info:hover {
    background-color: rgb(161, 150, 150);
}